// Colours!

// FlatUI

// Set one
turquoise = #1abc9c
greensea = #16a085

// Set Two
emerald = #2ecc71
nephritis = #27ae60

// Set Three
peterriver = #3498db
belizehole = #2980b9

// Set Four
amethyst = #9b59b6
wisteria = #8e44ad

// Set Five
wetasphalt = #34495e
midnightblue = #2c3e50

// Set Six
sunflower = #f1c40f
orange = #f39c12

// Set Seven
carrot = #e67e22
pumpkin = #d35400

// Set Eight
alizarin = #e74c3c
pomegranate = #c0392b

// Set Nine
clouds = #ecf0f1
silver = #bdc3c7

// Set Ten
concrete = #95a5a6
asbestos = #7f8c8d

// Set Eleven

black = #444
grey = #f7f7f7


// default anchors color scheme

defaultanchors()
  a
    &:link, &:visited
      color alizarin
    &:hover
      color black 

defaultanchors-reverse()
  a
    &:link, &:visited
      color black
    &:hover
      color alizarin
