form
  border 1px solid #ddd
  fieldset
  .controlGroup
    margin 0 0 10px
    label
      float left
      font-size 1.2rem
      line-height 30px
      margin 0 10px 0 0
      text-align right
      width 200px
    input[type=email]
      border 1px solid #ccc
      height 30px
      min-width 300px
      text-ident 5px
  .buttonsGroup
    // Style whatever way you like.
    
    // Another great way to style - http://css-tricks.com/styling-texty-inputs-only/
    
    // input:not([type=submit]):not([type=file])
    //   code code code.
