form.search
  input
    display inline // IE8??
    line-height 28px  // IE8??
    box-sizing border-box // IE8??

form
  border 1px solid #ddd
  fieldset
  .controlGroup
    margin 0 0 10px
    label
      float left
      font-size 1.2rem
      line-height 30px
      margin 0 10px 0 0
      text-align right
      width 200px
    input  // general style for all input field, if you don't want a radio button to be like this style.
           // then use input:not([type=radio])
      border 1px solid #ccc
      height 30px
      min-width 300px
      text-ident 5px
    select
      min-width 120px
  .buttonsGroup
    // Style whatever way you like.
    
    // Another great way to style - http://css-tricks.com/styling-texty-inputs-only/
    
    // input:not([type=submit]):not([type=file])
    //   code code code.
