text-
  &right
    text-align right
  &center
    text-align center
  &left
    text-align left

float-
  &right
    float right
  &left
    float left
  &none
    float none

.accessibility-text
  display none
  
sub
  font-size 60%
  vertical-align sub

.search-results-caption, .display-none
  display none
