//- Index.jade

extends ./includes/layout.jade

block title
  title Example Layout - Craig's Boiler Template!

block content
  section.banner(role='banner')
    header
      h1 header

  nav(role='nav')
    ul
      li
        a(href='') nav one
      li
        a(href='') nav two
      li
        a(href='') nav three

  main(role='main')
    h1 main
    div.content
      //- It is a good idea to use Markdown to write content for the page instead of traditional HTML
      //- Learn it over at http://daringfireball.net/projects/markdown
      :markdown
        # heading one
        ## heading two
        ### heading three
        #### heading four
        ##### heading five
        ###### heading six

        This is a long paragraph talking about bacons, eggs and chips! A good mug of tea will complete it.

        This is an unordered list

        + VHS
        + DVD
        + Bluray

        This is an ordered list:

        1. Apple
        2. Orange
        3. Banana

        > This is a blockquote with two paragraphs. Lorem ipsum dolor sit amet,
        consectetuer adipiscing elit. Aliquam hendrerit mi posuere lectus.
        Vestibulum enim wisi, viverra nec, fringilla in, laoreet vitae, risus.

        > Donec sit amet nisl. Aliquam semper ipsum sit amet velit. Suspendisse
        id sem consectetuer libero luctus adipiscing.

        1986\. What a great season (use the backslash to escape the period to stop making it as a list)

            This is a code block

        A horizontal rule

        ---

        Link example:

        [Example URL](http://example.com)

        Or automatic links would help

        <http://example.com>

        Email Address?

        <address@example.com>

        Emphasis

        *I see what you mean there*

        or

        **I don't see it?**

        If you want to talk about `code`...

        Mind the \*literal asterisks\*!

				// You can also do
				// include ./post/article-001.md

				// Hint when using <button>, <input>, <a>
				// When creating a button, use <button>
				// When creating input form, use <input>
				// When creating links, use <a>


  form(role='search')
    fieldset
      label(for='emails') Emails:
      input(tabindex='1', type='email', id='email', autocomplete='username', value='', placeholder='your@email.com', autofocus='')
      label(for='password') Password:
      input(tabindex='2', type='password', id='password', autocomplete='current-password')

    fieldset
      label(for='checkboxes') Multiple checkboxes
      input(name='iOS 5', type='checkbox', value='iOS 5')
      | iOS 5
      input(name='iOS 6', type='checkbox', value='iOS 6')
      | iOS 6
      input(name='iOS 7', type='checkbox', value='iOS 7')
      | iOS 7
      input(name='iOS 8 beta', type='checkbox', value='iOS 8 beta')
      | iOS 8 Beta

    fieldset
      label(for='radio') Select one radio button
      input(checked='', name='iOS 6', type='radio', value='iOS 6' id='iOS 6')
      | iOS 6
      input(name='iOS 7', type='radio', value='iOS 7' id='iOS 7')
      | iOS 7

    button Send
    
  // Tables
  table
    tbody
      tr.headerTitles
        td(role="columnheader") Column Header One
        td(role="columnheader") Column Header Two
        td(role="columnheader") Column Header Three
        td(role="columnheader") Column Header Four
      tr(role="row")
        td Data One
        td Data Two
        td Data Three
        td Data Four

  // Mixing Forms
  form(name='input', action='html_form_action.php', method='post')
    mixin name('user', null, 'User')
    mixin password('password', null, 'Password')
    mixin message('message', null, 'textarea')
    mixin submit('do', 'Login')

  // Standard form
  form(name='input', action=#', method='post')
    fieldset
      legend
        Sign up to our newsletter!
      div.controlGroup
        label(for='userEmail')
          Your Email Address:
        input(type='email', name='userEmail', id='userEmail', placeholder='Enter your email address")
      div.controlGroup
        label(for='userEmail')
          Recipients email address:
        input(type='email', name='recipientEmail', id='recipientEmail', placeholder='Enter recipients email address")
      div.controlGroup
        textarea
      div.buttonsGroup
        button(type='button', role='button', aria-disabled='false')
          cancel
        button(type='submit', role='button', aria-disabled='false')  
          send
      
	aside(role="complementary")
		ul
			li
				a links
			li
				a links
// Footer

footer(role='contentinfo')
  h1 this is the footer and the role for this is contentinfo
